hedear css
.header_activity {
  background: url("../../media/img1/active1.jpeg");
  top: 0;
  left: 0;
  width: 100%;
  height: 960px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* début css liste déroulante  dropdown*/

.dropdown-menu {
  background-color: #df921e;
  display: flex; /* Afficher les éléments en ligne */
  top: 300px;
  margin-bottom: 100px;
  justify-content: space-around
}

/* Style pour chaque continent */
.dropdown-europe,
.dropdown-asie,
.dropdown-amerique,
.dropdown-afrique {
  color: white;
  margin: 10px;
  padding: 10px;
}
.dropdown-menu h4 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 30px;
}
.dropdown-menu ul {
  list-style: none; /* Supprimer les puces de liste */
  padding: 0;
}
.dropdown-menu li {
  margin: 5px 0;
}
.text {
  text-align: center;
} /* Fin css liste déroulante */

/*css  pour les  cards */

h1{
  text-align: center;
  margin-bottom: 300px;
  font-size: 50px;
  color:red;
  font-weight: bold;

}
.card_activite {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card_activite:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__infos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}


.card_activite:hover .card__infos {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.activity_accueil {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 100px 0;
}

.section.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Espace au-dessus du composant */
}

/* Style des cartes */
.selected-country {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px; /* Espace entre les cartes */
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.selected-country h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.selected-country img {
  max-width: 100%; 
  max-height: 200px; 
}




