.header_hotel{
    background: url("../../media/img/fd_hotel.jpg");
    top: 0;
    left: 0;
    width: 100%;
    height: 960px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_hotel p {
    font-family: 'Fasthand', cursive;
    text-align: center;
    font-size: 120px;
    margin-bottom: -135px;
    color: #FFF;
  }

  @media only screen and (max-width: 767px) {
    .header_hotel{
      height: 560px;
    }
}