/* Style du formulaire */
form {
  position: relative;
  background-color: #f0f0f0;
  width: 80%;
  max-width: 600px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 50px 0px 0px 80px !important;
  box-sizing: border-box;
  margin-left: 15px;
}
/* Style des cases à cocher et des boutons radio */
form input[type="checkbox"],
form input[type="radio"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Style des conteneurs de champs */
form div {
  margin-bottom: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

/* Style des labels */
form label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style des champs de texte, mot de passe et e-mail */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  width: 80%;
}

/* Style pour afficher "Nom" et "Prénom" côte à côte */
form div.name-inputs {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form button:hover {
  background-color: pink;
}
form button {
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  background-color: orange;
}
